<%= render  'user_mailer/shared/header' %>

<p><%= @user.name %> 様</p>

<p>ポートフォリオ公開サイト <%= link_to 'takemon', root_url %>のアカウントの作成が完了しました。</p>
<p>以下のリンクからtakemonにアクセスし、アカウントを有効化してください。</p>

<%= link_to 'アカウントを有効化する。', 
            edit_account_activation_url(@user.activation_token, email: @user.email) %>

<%= render  'user_mailer/shared/footer' %>