<%= render  'user_mailer/shared/header' %>

ポートフォリオ公開サイト <%= link_to 'takemon', root_url %>のパスワードをリセットします。<br>
以下のリンクからtakemonにアクセスし、新しくパスワードを設定し直してください。

<%= link_to 'パスワードをリセットする。', 
            edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>このメールを受け取ってから2時間以内にパスワードを再設定してください。</p>
<p>有効期限をすぎた場合はお手数ですが<%= link_to 'takemon', root_url %>から再度パスワードリセットの手続きを行ってください。</p>

<%= render  'user_mailer/shared/footer' %>