<h1>作品投稿</h1>

<%= form_with(model: @portfolio, local: true) do |p| %>

    <%= render 'shared/error_messages', object: @portfolio %>

    <%= p.label :title, "作品名" %>
    <%= p.text_field :title, class: 'form-control' %>
    <%= p.label :detail, "作品について" %>
    <%= p.text_area :detail, class: 'form-control', rows: 10 %>

    <% slide_index = 1 %>
    <%= p.fields_for :images do |i| %>
        <div id='slide-<%=slide_index%>' class='card images_form' style='display: none;'>
            <div class='card-body'>
                <%= i.label :image, '画像' %>
                <%= i.file_field :image, class: 'form-control' %>
                <%= i.label :description, '注釈文' %>
                <%= i.text_field :description, class: 'form-control', placeholder: '30字まで（入力は任意）' %>
            </div>
            <div class="card-footer">
                <%= button_tag 'キャンセル', type: 'button', class: 'btn btn-secondary btn-sm float-right',
                                            onClick: "closeImageForm(#{slide_index.to_s});" %>
            </div>
            <div class='clearfix'></div>
        </div>
        <% slide_index += 1 %>
    <% end %>

    <small id='slide-alert' class='text-right', style='display: none;'><span class='text-danger text-center'>追加できるスライドは１０枚までです。</span></small>
    <%= button_tag 'スライドを追加する', type: 'button', class: 'btn btn-primary col-md-4 float-right image_append', onClick: 'addImageForm();' %>

    <%= p.submit '作品を投稿する', id: 'portfolio_submit', class:"btn btn-primary" %>

<% end %>

<script type='text/javascript'>

</script>
