<h1>作品投稿</h1>

<%= form_with(model: @portfolio, local: true) do |p| %>

    <%= render 'shared/error_messages', object: @portfolio %>

    <%= p.label :title, "作品名" %>
    <%= p.text_field :title, class: 'form-control' %>
    <%= p.label :detail, "作品について" %>
    <%= p.text_area :detail, class: 'form-control', rows: 10 %>

    <% slide_index = 1 %>
    <%= p.fields_for :images do |i| %>
        <div id='slide-<%=slide_index%>' class='card images_form' style='display: none;'>
            <div class='card-body'>
                <%= i.label :image, '画像' %>
                <%= i.file_field :image, class: 'form-control' %>
                <%= i.label :description, '注釈文' %>
                <%= i.text_field :description, class: 'form-control', placeholder: '30字まで（入力は任意）' %>
            </div>
            <div class="card-footer">
                <button type='button' class='btn btn-secondary btn-sm float-right image_close' onclick='close_image_form();'>キャンセル</button>
            </div>
            <div class='clearfix'></div>
        </div>
        <% slide_index += 1 %>
    <% end %>

    <button type='button' id='append-btn' class='btn btn-primary col-md-4 float-right image_append'>スライドを追加する</button>

    <%= p.submit '作品を投稿する', id: 'portfolio_submit', class:"btn btn-primary" %>

<% end %>

<script type='text/javascript'>
    ($('.image_append').on('click', addImageForm));

    // imageモデル入力フォームを追加する処理
    function addImageForm(){
        $('.images_form').each( function(){
            if($(this).css('display')=='none'){
                $(this).show();
                $(this).find('.image_close').on('click', closeImageForm);
                return false;
            }
        });
    }

    // imageモデル入力フォームを閉じる（入力値を削除してから非表示にする）処理
    function closeImageForm(){
        let current_form = $(this).closest('.images_form');
        current_form.find('input').each(function(){
            $(this).val('');
        });
        current_form.hide();
        current_form.insertBefore('#append-btn');
    }
</script>