<p><%= @users.count %>人のユーザーが登録されています。</p>
<ul>
    <% @users.each do |user| %>
    <li>
        <p>id: <%= user.id %></p>
        <p>name: <%= user.name %></p>
        <p>email: <%= user.email %></p>
        <%= link_to user.name + 'のプロフィール', user %>
        <%= link_to '削除', user, method: :delete,
                                  data: { confirm: '削除しますか？' } %>
    </li>
    <% end %>
</ul>