<div class="portfolio_list">
  <ul class="jscroll scroll-content">
    <% @portfolios.each do |portfolio| %>
    <li class='col-md-6'>
      <div class='card'>
        <% if portfolio.images.first.image.url.nil? %>
          <%= link_to image_tag('gray_noimage.png', class: 'img-fluid', width: '418px', height: '418px'), portfolio_path(portfolio) %>
        <% else %>
          <%= link_to image_tag(portfolio.images.first.image.url, class: 'img-fluid thumbnail', width: '418px', height: '418px'),
                      portfolio_path(portfolio) %>
        <% end %>

        <div class="card-body">
          <%= user_avatar user: portfolio.user, clazz: 'avatar author-content' %>
          <div class='author-content'>
            <%= link_to "#{portfolio.title}", portfolio_path(portfolio), class: 'card-title' %><br>
            <%= link_to "#{portfolio.user.name}の作品", portfolio.user, class: 'card-text text-muted' %>
          </div>
        </div>

        <div class='card-footer'>
          <div class='float-left'>
            <small class="card-text text-muted"><%= portfolio.updated_at.to_s(:date_jp) %>に最終更新</small><br>
            <small class="card-text text-muted"><%= portfolio.fans.count %>人のファン</small>
          </div>
          <%= link_to "詳細を見る", portfolio_path(portfolio), class: 'btn btn-primary btn-sm float-right' %>
        </div>
      </div>
    </li>
    <% end %>
    <%= paginate @portfolios %>
  </ul>
  <div class='clearfix'></div>
</div>
