<header>
  <h1>title logo</h1>
  <p>表示順序：</p>
  <select>
    <option value="old">新しい順</option>
    <option value="reply">コメントが多い順</option>
  </select>

  <div id="nav-drawer">
    <label id="nav-icon"></label>
    <% if logged_in? %>
      <nav>
        <li><%= link_to  "マイページ", current_user %></li>
        <li><%= link_to  "マイページ2", edit_user_path(current_user) %></li>
        <li><%= link_to  "ユーザーを探す", '#' %></li>
        <li>Message</li>
        <li><%= link_to  "ログアウト", login_path, method: :delete %></li>
      </nav>
    <% else %>
      <%= link_to  "ログイン", login_path %>
    <% end %>
  </div>
</header>
