<header>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="navbar-brand navbar-nav" href="/">title logo</a></li>
        </ul>
        <ul class="nav navbar-nav justify-content-end">
            <li>
                <button class="navbar-nav dropdown-toggle" data-toggle="collapse" data-target="#menu">
                    test
                </button>
            </li>

            <li>
                <ul id="menu" class="dropdown-menu">
                    <% if logged_in? %>
                    <li class="dropdown-item"><%= link_to  "マイページ", current_user %></li>
                    <li class="dropdown-item"><%= link_to  "マイページ2", edit_user_path(current_user) %></li>
                    <li class="dropdown-item"><%= link_to  "ユーザーを探す", '#' %></li>
                    <li class="dropdown-item">Message</li>
                    <li class="dropdown-item"><%= link_to  "ログアウト", login_path, method: :delete %></li>
                    <% else %>
                    <li class="dropdown-item"><%= link_to  "ログイン", login_path %></li>
                    <li class="dropdown-item"><%= link_to  "アカウントを作成する", new_user_path %></li>
                    <% end %>
                </ul>
            </li>
        </ul>
    </nav>
</header>