<header class="header sticky-top">
    <div class="container">
        <nav class="navbar navbar-default">
            <ul class="nav">
                <li class="nav-item"><a class="navbar-brand nav-item" href="/">title logo</a></li>
            </ul>
            <ul class="nav justify-content-end">
                <% if logged_in? %>
                <li class='nav-item'>
                    <%= button_to '作品を投稿する', { controller: 'portfolios', action: 'new' }, {method: 'get', role: 'button', class:'btn btn-secondary nav-item'} %>
                </li>
                <li class='nav-item'>
                    <button type="button" id="application-menu" class="btn btn-secondary nav-item" data-toggle="collapse" data-target="#menu_logged_in">
                        <%= current_user.name %>
                    </button>
                </li>
                <% else %>
                <li class='nav-item'>
                    <button type="button" id="application-menu" class="btn btn-secondary nav-item" data-toggle="collapse" data-target="#menu_logged_out">
                        ログイン
                    </button>
                </li>
                <% end %>
            </ul>

            <ul id="menu_logged_in" class="dropdown-menu dropdown-menu-right" aria-labelledby="application-menu">
                <% if logged_in? %>
                <li class="dropdown-item"><%= link_to  "マイページ", current_user %></li>
                <li class="dropdown-item"><%= link_to  "マイページ2", edit_user_path(current_user) %></li>
                <li class="dropdown-item"><%= link_to  "ユーザーを探す", '#' %></li>
                <li class="dropdown-item">Message</li>
                <li class="dropdown-item"><%= link_to  "ログアウト", login_path, method: :delete %></li>
                <% end %>
            </ul>
            <ul id="menu_logged_out" class="dropdown-menu dropdown-menu-right" aria-labelledby="application-menu">
                <% if !logged_in? %>
                <li class="dropdown-item"><%= link_to  "ログイン", login_path %></li>
                <li class="dropdown-item"><%= link_to  "アカウントを作成する", new_user_path %></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>